footer {
  display: flex;
  gap: 24px;
  padding-block: 24px;
  font: 14px/150% var(--font-family);
}

footer span:nth-child(1) { /*aqui dizemos que a tag filha 1 vai ficar a direita*/
  margin-right: auto;
}