* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { /*todo projeto fica aqui*/
  /*cores*/
  --brand-color: #EF5F4C;
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color:#D9D9D9;
  --shape-transparency: #ffffff56 56%;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;
  
   /*fontes*/
  
 --font-family:"Poppins", sans-serif;
 --text-lg:bold 32px/125% var(--font-family);
 --text: regular 16px/170% var(--font-family);
 --text-md: regular 14px/170% var(--font-family);
 --text-sm: regular 12px/170% var(--font-family);   
  
 

}

body { /*específico body*/
  color: var(--text-color-secondary);
  background-color: var(--background-color);
  
}

a {
  text-decoration: none;
  color: inherit; /*herdeiro, vai herdar as cores do projeto*/
}

a:hover { /* muda a cor do item quando passa o mouse*/
  color: var(--brand-color);
  text-decoration: underline; /*alinhado ao elemtneo ao lado*/
}

.container {
   padding-inline: 32px ; /*padding lateral, eixo x*/
   max-width: 1280px; /*tamanho máximo da página*/
   margin-inline: auto; /*alinha o projeto ao meio da pag*/
}
.bg-surface-color {
  background-color: var(--surface-color);
}