nav {
  display: flex; /* deixa o menu na mesma linha da logo */
  justify-content: space-between; /*espaço entre elementos*/
  align-items: center;
  line-height: 0; /* tamanho de linha*/
  padding-block: 20px; /*espaço eixo y em cima e baixo*/
}
nav ul {
  list-style: none; /* tira a decoração*/
  display: flex; /* deixa os list item lado a lado*/
  align-items: center; /* alinha a list no centro*/
  padding-block: 8px; /*altura eixo y*/
  gap: 24px;
}
nav ul li:last-child img { /* seleciona ultima (last) tag img filha, sem afetar as anteriores*/
  width: 40px;
  height: 40px;
  object-fit: cover;/* um meio de ajustar uma imagem sem ficar retorcida, é usar o
  object-fit: cover; ele vai ajustar o tamanho da imagem ao tamanho desejado*/
  border-radius: 50%; /* para arredondar a borda, usamos o border-radios: ;*/
}





  
